h1 {
    font-size: 2em;
    color: coral;
}

.btn {
    font-size: 4em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    border-color: bisque;
    border-radius: 10px;
    margin: 50% 50%;
}

.btn:hover {
    transform: scale(1.2);
}